.outer {
	position: relative;
	width: 200px;
	padding: 10px;
	margin: 0 auto;
	background-color: #ff4062;
	border-radius: 4px;
}

.container {
	position: relative;
	:global {
		.cells-enter {

		}
		.cells-enter.cells-enter-active .cell {
			transition: all 300ms linear;
		}
	}
}
