body {
	margin: 0;
}

.game {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 100%;
	background-color: #facdab;
}

.actions {
	padding: 15px 0 20px 0;
	text-align: center;
	button {
		margin-right: 10px;
		padding: 8px 6px;
		border: 0;
		border-radius: 3px;
		line-height: 1;
		font-weight: bold;
		color: white;
		text-transform: uppercase;
		cursor: pointer;
		outline: none;
		background-color: #82af9b;
		&:last-child {
			margin-right: 0;
		}
	}
}
